#Cr7{
    border: 2px solid #ccc;
    padding: 20px;
    margin: 20px;
    width: 300px;
    border-radius: 10px;
    text-align:center ;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}
#Alnasser{
    width: 300px;
}